<%- include('./partial/_head.ejs', {title: 'Add Incubator'}) %>
<body>
    <%- include('./partial/_navbar.ejs', {page: 'addIncubator'}) %>
</body>
    <form class="max-w-2xl mx-auto" action="/incubators/add" method="post">
        <h2 class="text-4xl font-extrabold dark:text-white">Create New Incubator</h2>
        <p class="my-4 text-lg text-gray-500">Please fill the form below to add a new Incubator!</p>
        <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">The name of the Incubator?</label>
            <input name="name" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name" required />
        </div>
        <div class="mb-5">
            <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">The location of the Incubator?</label>
            <input name="location" type="text" id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="location" required />
        </div>
    <fieldset>
        <% let levels = ['International', 'National', 'Province'] %>
        <legend class="sr-only">Levels</legend>
        <label for="level" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">The level of the Incubator?</label>
        <% levels.forEach(el => { %>
            <div class="flex items-center mb-4">
                <input id="<%= el %>" type="radio" name="level" value="<%= el %>" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
                <label for="<%= el %>" class="block ms-2  text-sm font-medium text-gray-900 dark:text-gray-300">
                    <%= el %>
                </label>
            </div>
        <% }) %>
    </fieldset>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
</html>